# Mailcow Configuration
# https://mail.dipdev.de
# IMPORTANT: Rename to mailcow.env and fill in your values

TZ=Europe/Berlin
MAILCOW_DOMAIN=

DBNAME=mailcow
DBPASS=
DBROOTPASS=

HTTP_PORT=4080
HTTPS_PORT=4443

SMTP_PORT=25
SMTPS_PORT=465
SUBMISSION_PORT=587

IMAP_PORT=143
IMAPS_PORT=993
POP_PORT=110
POPS_PORT=995

SIEVE_PORT=4190
DOVEVOT_PORT=9993
MYSQL_PORT=3306

ACME_NETWORK=web
LETSENCRYPT=true

SKIP_CLAMD=true
SKIP_SOLR=true

WC=*.
EOF=postmaster@