# Monitoring - Grafana, Prometheus, Loki
# https://monitor.dm-home.de

TZ=Europe/Berlin

# Grafana credentials
GRAFANA_USER=admin
GRAFANA_PASSWORD=

# Retention
PROMETHEUS_RETENTION_DAYS=15
LOKI_RETENTION_DAYS=15