# Nextcloud - needs database credentials

NEXTCLOUD_DB_NAME=nextcloud
NEXTCLOUD_INTERNAL_HOST=10.0.0.1
NEXTCLOUD_ADMIN_USER=admin
NEXTCLOUD_ADMIN_PASSWORD=

# Database connection
POSTGRES_USER=app
POSTGRES_PASSWORD=
REDIS_PASSWORD=

TZ=Europe/Berlin