# Hermes Agent - AI Agent
# https://ai.example.com

# Bind address for internal access.example.com
BIND_IP=0.0.0.0

# Domain for Traefik
DOMAIN=ai.example.com

HERMES_DASHBOARD=true
GATEWAY_DASHBOARD_INSECURE=true

API_SERVER_ENABLED=true
API_SERVER_CORS_ORIGINS='*'

HERMES_ALLOWED_ORIGINS=https://*.example.com
TELEGRAM_BOT_TOKEN=
DEEPSEEK_API_KEY=
ANTHROPIC_API_KEY=
OPENAI_API_KEY=