# Traefik - Reverse Proxy
# https://traefik.example.com

TZ=Europe/Berlin

# Traefik Dashboard Basic Auth
# Password will be hashed automatically at startup
TRAEFIK_DASHBOARD_USER=admin
TRAEFIK_DASHBOARD_PASS=

# ACME Email for Let's Encrypt
ACME_EMAIL=