# Hermes Agent - AI Agent
# https://ai.example.com

# Bind address for internal accesexample.com
BIND_IP=10.0.0.1

# Domain for Traefik
DOMAIN=ai.dm-home.de

HERMES_ALLOWED_ORIGINS=https://*.dm-home.de
TELEGRAM_BOT_TOKEN=
DEEPSEEK_API_KEY=
ANTHROPIC_API_KEY=
OPENAI_API_KEY=